header nav .hotel-img {
    display: none;
 }
header nav .cut-line{
    display: none;
}

header nav .title-name {
    font-size: 64px;
}

.logo_gzygjd {
    width: 150px;
    height: 35px;
    background-image: url('../../img/img-logo.png');
    position: absolute;
    top: 28px;
    left: 50px;
}

.people_img {
    background-image: url('../img/people.png');
    width: 463px;
    height: 627px;
    position: absolute;
    left: 67px;
    top: -6px;
}

.btn_ch,
.btn_en {
    background-image: url('../img/button_grey.png');
    width: 215px;
    height: 60px;
    position: absolute;
}

.btn_ch {
    top: 506px;
    left: 691px;
}

.btn_en {
    top: 506px;
    left: 926px;
}

.active {
    background-image: url('../img/button_rose.png');
    top: 505px;
}

#ch,
#en {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    line-height: 60px;
    font-size: 36px;
}

.huanyingci {
    text-indent: 2em;
}

.welcome_article {
    position: absolute;
    top: 65px;
    left: 535px;
}

.welcome_article h1 {
    font-size: 54px;
    color: #9e533a;
    line-height: 100px;
    font-weight: normal;
}

.welcome_article .huanyingci {
    font-size: 30px;
    color: #9e533a;
    width: 600px;
    height: 240px;
    line-height: 1.64;
}

.welcome_article .signature {
    background-image: url('../img/signature.png');
    width: 148px;
    height: 92px;
    position: absolute;
    left: 350px;
    top: 320px;
}

.tittle {
    text-transform: capitalize;
}



/* animation */

.content-box {
    -webkit-animation: animt_context 0.5s ease forwards;
    animation: animt_context 0.5s ease forwards;
}

@-webkit-keyframes animt_context {
    0% {
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes animt_context {
    0% {
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

.people_img {
    -webkit-animation: animt_people 0.3s linear 0.5s backwards;
    animation: animt_people 0.3s linear 0.5s backwards;
}

@-webkit-keyframes animt_people {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
    100% {
        opacity: 1;
    }
}

@keyframes animt_people {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
    100% {
        opacity: 1;
    }
}

.logo_gzygjd {
    -webkit-animation: animt_log 0.2s linear 0.8s backwards;
            animation: animt_log 0.2s linear 0.8s backwards;
}

@-webkit-keyframes animt_log {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2, 1.2);
                transform: scale(1.2, 1.2);
        left: 55px;
        top: 35px;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
        top: 28px;
        left: 50px;
    }
}

@keyframes animt_log {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2, 1.2);
                transform: scale(1.2, 1.2);
        left: 55px;
        top: 35px;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
        top: 28px;
        left: 50px;
    }
}

.tittle,
.information {
    -webkit-animation: animt_down 0.2s linear 0s backwards;
            animation: animt_down 0.2s linear 0s backwards;
}

@-webkit-keyframes animt_down {
    0% {
        top: -22px;
        opacity: 0;
    }
    100% {
        top: 22px;
        opacity: 1;
    }
}

@keyframes animt_down {
    0% {
        top: -22px;
        opacity: 0;
    }
    100% {
        top: 22px;
        opacity: 1;
    }
}

.welcome_article {
    -webkit-animation: animt_signature 1s ease 1s backwards;
            animation: animt_signature 1s ease 1s backwards;
}

@-webkit-keyframes animt_signature {
    0% {
        opacity: 0;
        left: 635px;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        left: 535px;
    }
}

@keyframes animt_signature {
    0% {
        opacity: 0;
        left: 635px;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        left: 535px;
    }
}

.btn_ch {
    -webkit-animation: animt_rtl_ch 1s ease 1.2s backwards;
            animation: animt_rtl_ch 1s ease 1.2s backwards;
}

.btn_en {
    -webkit-animation: animt_rtl_en 1s ease 1.2s backwards;
            animation: animt_rtl_en 1s ease 1.2s backwards;
}

@-webkit-keyframes animt_rtl_ch {
    0% {
        opacity: 0;
        left: 791px;
    }
    100% {
        opacity: 1;
        left: 691px;
    }
}

@keyframes animt_rtl_ch {
    0% {
        opacity: 0;
        left: 791px;
    }
    100% {
        opacity: 1;
        left: 691px;
    }
}

@-webkit-keyframes animt_rtl_en {
    0% {
        opacity: 0;
        left: 1026px;
    }
    100% {
        opacity: 1;
        left: 926px;
    }
}

@keyframes animt_rtl_en {
    0% {
        opacity: 0;
        left: 1026px;
    }
    100% {
        opacity: 1;
        left: 926px;
    }
}
