.gfgg {
    width: 270px;
    outline: 1px dashed rgb(218, 35, 18);
    background-color: #F5C539;
    outline-offset: 10px;
    display: inline-block;
    margin: 0px 20px;
}

.gfgg_titel {
    width: 100%;
    height: 31px;
    background-image: url("../img/containt_title.png");
    background-repeat: no-repeat;
}

.gfgg_titel a {
    text-decoration: none;
}

.gfgg_titel a:hover {
    color: #FFF;
}

.gfgg_text {
    width: 100%;
}

.gfgg_text >a {
    display: block;
    color: #333;
    padding: 5px;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.gfgg_titel_bk {
    display: block;
    width: 150px;
    height: 31px;
    line-height: 31px;
    padding-left: 30px;
    color: #FFF;
    font-weight: bold;
}

.color_bk {
    background-color: #FFF;
}

.border_style {
    height: 3px;
    width: 100%;
    background-color: #DA2312;
}

.zxs_container_text {
    width: 100%;
    background-color: rgb(245, 197, 57);
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 20px;
    border-bottom: 5px solid rgb(218, 35, 18);
}
