@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: $font-color;
}

html {
    font-size: $font-size-base;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    width: 100%;
    height: $height;
    overflow: hidden;
    background-image: $background-image;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    border: 0;
}

input {
    outline: none;
    border: none;
}

li {
    list-style: none;
    outline: none;
}

ul {
    list-style: none;
}

footer{
    -webkit-transform: scale(0.9,0.9);
            transform: scale(0.9,0.9);
}

.clear {
    clear: both;
}

.content-box {
    width: 1180px;
    height: 547px;
    background-image: -moz-linear-gradient(left center, #E9DBBD 0%, #D6BE87 100%);
    background-image: -webkit-linear-gradient(left, #E9DBBD 0%, #D6BE87 100%);
    position: fixed;
    top: 99px;
    left: 50px;
}

.hidden {
    visibility: hidden;
}

.main-box {
    position: fixed;
    top: 89px;
    left: 67px;
    width: 1116px;
    height: 567px;
    // outline: 1px dashed #EE6623;
    .nav-box {
        width: 269px;
        height: 547px;
        margin: 10px 5px;
        float: left;
        position: relative;
    }
    .nav-box > .nav-img {
        width: 269px;
        height: 547px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
    }
    .nav-box > .nav-text {
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0px;
        background-image: -moz-linear-gradient( left, rgb(233, 219, 189), rgb(214, 190, 135));
        background-image: -webkit-linear-gradient( left, rgb(233, 219, 189), rgb(214, 190, 135));
        color: #723803;
        text-align: center;
        line-height: 100px;
        font-size: 24px;
    }
    .nav-active {
        margin-top: 0px;
    }
    &>.banner {
        overflow: hidden;
        position: relative;
    }
    &>.banner ul > li {
        height: 567px;
        float: left;
    }
}

// 全局 active-cursor 光标 移动样式
.active-cursor {
    background-image: url('../img/active-center.png');
    background-position: right 0px;
    color: white !important;
    background-repeat: no-repeat;
    background-size: 100% 92px;
}
.active-cursor::before {
        content: "";
        background-image: url('../img/active-before.png');
        width: 32px;
        height: 92px;
        position: absolute;
        left: -32px;
    }
    
.active-cursor::after {
    content: "";
    background-image: url('../img/active-after.png');
    width: 21px;
    height: 92px;
    position: absolute;
    right: -21px;
}

// 左-导航条 右-图片 布局
.flex-box {
    display: flex;
    .left-box {
        display: flex;
        flex-direction: column;
        aside {
            width: 100%;
            height: 100px;
            background-position: center center;
            background-repeat: no-repeat;
            &.top-btn {
                order: -1;
                background-image: url('../img/top-btn.png');
            }
            &.bottom-btn {
                margin-top: auto;
                background-image: url('../img/bottom-btn.png');
            }
        }
        .nav {
            flex: 1;
            display: flex;
            > ul {
                align-self: center;
                width: 100%;
                position: relative;
            }
            .nav-item {
                width: 100%;
                height: 49px;
                color: #8b0939;
                text-align: center;
                line-height: 49px;
                position: relative;
                left: 15px;
            }
        }
    }
    .right-box {
        margin: 10px;
        position: relative;
        z-index: -1;
    }
}

