@charset "utf-8";
//全局字体颜色
$font-color: #FFF;
//字体默认大小 
$font-size-base: 24px;
//字体样式 
$font-family: "Droid Sans Fallback";
//屏幕高度
$height: 720px;
//背景图片
$background-image: linear-gradient(#2F2F30 0%, #6E6E6E 50%, #1B1B1B 100%);